<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nadia.test_db">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon3"
        android:label="Ma bibliothèque"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddBook"
            android:label="Ajout d'un Livre" />
        <activity android:name=".DisplayListBooks"
            android:label="Ma bibliothèque"/>
        <activity android:name=".SearchIsbn"
            android:label="Chercher un livre" />
        <activity android:name=".DisplayDetailsBook"
            android:label="Détails du livre" />
        <activity android:name=".ListToAddBookCollectionActivity"
            android:label="Ajout d'un livre à une catégorie" />
        <activity android:name=".DisplayListCollectionActivity"
            android:label="Liste des collections " />

        <activity android:name=".ListBookCollectionDisplayActivity"
            android:label="Liste des collections2" />
        <activity android:name=".NewCollectionActivity"
            android:label="Ajout d'une nouvelle collection" />
        <activity android:name=".CollectionActivity"
            android:label="Gestion des collections" />


        <activity
            android:name=".com.google.zxing.integration.android.Scanne"
            android:label="scanner un livre" >
        </activity>

    </application>

</manifest>
